node_modules/
.pnp
.pnp.*
*.lcov
.next/
.env
logs/
*.log
.vscode/
*.db
.cache/
.eslintcache
.stylelintcache
*.tmp
*.temp
.tmp/
.temp/
.npm
.node_repl_history
*.tsbuildinfo
.capacitor/
.vite/
*.local
apps/lab07-authen/android/app/google-services.json
apps/lab08-ai/android/app/google-services.json